<div class="modal-header bg-primary">
    <h4 class="modal-title" id="myModalLabel">Definition d'un nouveau mot de passe</h4>
</div>

<form class="form-horizontal" role="form" id="formulaire">

    {{ form.hidden_tag() }}
    <div class="modal-body">
      <div class="form-group">
        {{ form.password.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        {{ form.password(class_='form-control') }}
        {% for message in form.password.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
      <div class="form-group">
        {{ form.retype_password.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        {{ form.retype_password(class_='form-control') }}
        {% for message in form.retype_password.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" id="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
<script>
    $('#submit').on('click', function(e){
        e.preventDefault();
        $.ajax({
                url: "{{ url_for('user_param.password', user_id=user_id) }}",
                data: $('#formulaire').serialize(),
                type: 'POST',
                success: function(data) {
                    $('.modal-content').html(data);
                }
            });
    });

    {% if success %}
        window.location.replace(window.location.origin+"{{ url_for('user_param.index') }}").delay();
    {% endif %}
</script>