{% extends 'base.html' %}

{% block title %} Tableau de bord | {{ super() }}  {% endblock %}


{% block layout_content %}

    <div class="col-lg-12">

        <div class="page-header">
            <h1>Statistique du mois</h1>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-4 text-center">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="lead">{{ montant_commande|format_price() }}</span>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Chiffre d'affaire du mois</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="lead">{{ total_cmd }}</span>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Total des commandes</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="lead">{{ nbr_client }}</span>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Nouveaux Clients</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="lead">{{ montant_livraison|format_price() }}</span>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Montant des livraisons</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="lead">{{ cmd_day_next }}</span>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Livraison à venir</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <span class="lead">{{ cmd_day }}</span>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Livraison du jour</h3>
                </div>
            </div>
        </div>

    </div>
<hr/>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Total recouvrement du mois</h4>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td>Montant des livraisons</td>
                    <td>{{ montant_livraison|format_price() }}</td>
                </tr>
                <tr>
                    <td>Montant des livraisons soldées</td>
                    <td>{{ montant_livraison_paid|format_price() }}</td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer text-center"><span class="lead">{{ (montant_livraison - montant_livraison_paid)|format_price() }}</span></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Total recouvrement</h4>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td>Montant des livraisons</td>
                    <td>{{ mont_liv_global|format_price() }}</td>
                </tr>
                <tr>
                    <td>Montant des livraisons soldées</td>
                    <td>{{ mont_liv_paid_global|format_price() }}</td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer text-center"><span class="lead">{{ (mont_liv_global - mont_liv_paid_global)|format_price() }}</span></div>
        </div>
    </div>
</div>


{% endblock %}