{% extends 'base.html' %}

{% block title %} Rapport des recouvrements | {{ super() }}  {% endblock %}


{% block layout_content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="pull-right col-sm-6">
                    <form method="get" id="FormSearch">
                        <input type="text" name="q" class="form-control" autocomplete="off" id="search" value="{% if q %}{{ q }}{% endif %}" placeholder="Recherche par reference ou nom du client"/>
                    </form>
                </div>
                <h2>Statistique des ventes</h2>
            </div>
            <nav class="navbar navbar-toolbar" role="navigation">
                <div class="container-fluid">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <h3 class="text-center" style="margin-top: 0;">Periode <input type="text" id="datepicker_input" class="date_start custom_input" value="{{ start|format_date('%d/%m/%Y') }}"/>  au  <input type="text" id="datepicker2_input" class="date_end custom_input" value="{{ end|format_date('%d/%m/%Y') }}"/>
                            </h3>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Exporter
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {#                                <li><a href="{{ url_for('dashboard.rapport_vente_refresh', print='1', date_start=start|format_date('%d/%m/%Y'), date_end=end|format_date('%d/%m/%Y'), search=q) }}" target="_blank" id="print_pdf">sous PDF</a></li>#}

                            </ul>
                        </div>

                    </div>
                </div>
            </nav>

            <div id="table" style="    position: relative; min-height: 345px;">
                <div id="load" style="
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.3); display: none;    color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                line-height: 20;">Chargement</div>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th width="15%">Reference</th>
                        <th width="15%">Client</th>
                        <th width="15%">Montant</th>
                        <th width="15%">Acompte</th>
                        <th width="15%">Reste</th>
                        <th width="10%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in datas %}
                        {% if (data.montant - data.montant_versment()) > 0 %}
                            <tr>
                                <td>{{ data.ref }}</td>
                                <td>{{ data.user.get().name }}</td>
                                <td>{{ data.montant|format_price() }}</td>
                                <td>{{ data.montant_versment()|format_price() }}</td>
                                <td>{{ (data.montant - data.montant_versment())|format_price() }}</td>
                                <td>
                                    {% if  current_user.has_roles([('super_admin', 'facture_commande')]) %}
                                        <a href="{{ url_for('commande.facture', id_commande=data.key.id()) }}" class="btn btn-link btn-xs" target="_blank">Facture</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="6">
                                <h4 class="text-center">Aucune information</h4>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

{#                <div class="panel panel-primary">#}
{#                    <div class="panel-heading">#}
{#                        <h3 class="panel-title text-center">Un recouvrement de  : {{ (total_montant - total_versment)|format_price() }}</h3>#}
{#                    </div>#}
{#                </div>#}

            </div>

        </div>
    </div>

{% endblock %}