{% extends 'base.html' %}

{% block title %} Rapport | {{ super() }}  {% endblock %}

{% block layout_content %}
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-toolbar" role="navigation" style="margin-top: 20px;">
                <div class="container-fluid">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <h3 class="text-center" style="margin-top: 0;">Periode <input type="text" id="datepicker_input" class="date_start custom_input" value="{{ start|format_date('%d/%m/%Y') }}"/>  au  <input type="text" id="datepicker2_input" class="date_end custom_input" value="{{ end|format_date('%d/%m/%Y') }}"/>
                            </h3>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="page-header">
                <h2>Rapport du CA et quantite des gateaux par categorie</h2>
            </div>

            <div id="table" style="    position: relative; min-height: 345px;">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th width="15%">Categorie</th>
                        <th width="15%">Quantite</th>
                        <th width="15%">Chiffre d'affaire</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data1 in datas_product %}
                        <tr>
                            <td>{{ data1.categorie }}</td>
                            <td>{{ data1.Qte }}</td>
                            <td>{{ data1.CA|format_price() }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">
                                <h4 class="text-center">Aucune information</h4>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <hr>
            <div class="page-header">
                <h2>Rapport du CA et quantite des cupcake par type</h2>
            </div>

            <div id="table" style="    position: relative; min-height: 345px;">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th width="15%">Type </th>
                        <th width="15%">Quantite</th>
                        <th width="15%">Chiffre d'affaire</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data2 in datas_cupcake %}
                        <tr>
                            <td>{{ data2.categorie }}</td>
                            <td>{{ data2.Qte }}</td>
                            <td>{{ data2.CA|format_price() }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">
                                <h4 class="text-center">Aucune information</h4>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

            <hr>
            <div class="page-header">
                <h2>Rapport du CA et quantite des sables par type</h2>
            </div>

            <div id="table" style="    position: relative; min-height: 345px;">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th width="15%">Type </th>
                        <th width="15%">Quantite</th>
                        <th width="15%">Chiffre d'affaire</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data3 in datas_sable %}
                        <tr>
                            <td>{{ data3.categorie }}</td>
                            <td>{{ data3.Qte }}</td>
                            <td>{{ data3.CA|format_price() }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">
                                <h4 class="text-center">Aucune information</h4>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}