<div class="panel panel-default moule">
    <div class="panel-heading">
            <button type="button" class="close" aria-label="Close" id="close_moule"><span aria-hidden="true">&times;</span></button>
            <strong><a href="#{{ request.args.get('nbre') }}" data-toggle="collapse" data-parent="#accordion">Moule {{ request.args.get('nbre') }}</a></strong>

    </div>
    <div class="panel-body panel-collapse collapse in" id="{{ request.args.get('nbre') }}">
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                  <label for="" class="col-sm-4" style="padding-top:3px; ">Choix :</label>
                  <div class="col-lg-8" style="padding-top:3px; ">
                        <select class="form-control" name="moule_choix" required>
                            <option value="">Choix de moule</option>
                            {% for moule in moule_list %}
                               <option value="{{ moule.key.id() }}">{{ moule.name }}</option>
                            {% endfor %}
                        </select>
                  </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                  <label for="" class="col-sm-4" style="padding-top:3px; ">Quantite :</label>
                  <div class="col-lg-8" style="padding-top:3px; ">
                      <input class="form-control input-sm" type="number" name="qte_moule" required="required" min="1"/>
                  </div>
                </div>
            </div>
            <div class="col-lg-1">
                <a href="#" class="btn btn-link" id="add_identique"><i class="glyphicon glyphicon-duplicate"></i></a>
                <input type="hidden" name="identique_moule" value="0" class="identique_moule"/>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <div class="page-header" style="margin-top: 20px;">
              <a href="" class="btn btn-primary pull-right btn-sm add_layer">Ajouter un layer</a>
              <h4>Les layers </h4>
              <input type="hidden" name="nbre_layer" value="1" class="nbre_layer"/>
            </div>
            <div class="panel panel-default layer">
                <div class="panel-heading">
                    <button type="button" class="close hidden" aria-label="Close" id="close_layer"><span aria-hidden="true">&times;</span></button>
                    <strong>Layer 1</strong>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                      <label for="" class="col-sm-4" style="padding-top:3px; ">Gout creme :</label>
                      <div class="col-lg-8" style="padding-top:3px; ">
                            <select class="form-control" name="gout_creme" required>
                                <option value="">Choix gout creme</option>
                                {% for gout_creme in gout_creme_list %}
                                   <option value="{{ gout_creme.key.id() }}">{{ gout_creme.name }}</option>
                                {% endfor %}
                            </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4" style="padding-top:3px; ">Imbibage :</label>
                      <div class="col-lg-8" style="padding-top:3px; ">
                            <select class="form-control" name="imbibage" required>
                                <option value="0">Aucun</option>
                                {% for imbibage in imbibage_list %}
                                   <option value="{{ imbibage.key.id() }}" >{{ imbibage.name }}</option>
                                {% endfor %}
                            </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4" style="padding-top:3px; ">Coulis :</label>
                      <div class="col-lg-8" style="padding-top:3px; ">
                            <select class="form-control" name="coulis" required>
                                <option value="0">Aucun</option>
                                {% for coulis in coulis_list %}
                                   <option value="{{ coulis.key.id() }}">{{ coulis.name }}</option>
                                {% endfor %}
                            </select>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>