<div class="" data-spy="affix" data-offset-top="60">
        <div class="page-header">
            <h1 class="text-center">Tableau de bord</h1>
        </div>
        <ul class="nav nav-pills nav-stacked">
                <li {% if submenu == 'dashboard' %} class="active" {% endif %}><a href="{{ url_for('dashboard.index') }}">Tableau de bord</a></li>
                <li {% if submenu == 'rapport_vente' %} class="active" {% endif %}><a href="{{ url_for('dashboard.rapport_vente') }}">Rapport des ventes</a></li>
                <li {% if submenu == 'rapport_recouvrement' %} class="active" {% endif %}><a href="{{ url_for('dashboard.rapport_recouvrement') }}">Rapport des recouvrements</a></li>
                <li {% if submenu == 'rapport_statistique' %} class="active" {% endif %}><a href="{{ url_for('dashboard.rapport_statistique') }}">Statistique des commandes</a></li>
        </ul>
</div>