{% extends 'base.html' %}

{% block title %} Commande | {{ super() }}  {% endblock %}

{% block layout_nav_left %}    {% include 'includes/nav_left_commande.html' %}      {% endblock %}


{% block layout_content %}

<div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                {% if id_commande %}
                    <h1>Mofication des informations de la commande</h1>
                {% else %}
                    <h1>Creer une commande 1/3 </h1>
                {% endif %}
              {% include 'includes/flash_message.html' %}
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <form method="post" class="form-horizontal" id="FormulaireToSend" {% if not creation %} action=""{{ url_for('commande.UpdateCommande', id_commande=id_commande) }} {% endif %}>
                        <h2 class="text-center">Information du client</h2><hr/>

                         <div id="formulaire_select_client">
                              <div class="form-group">
                                  <label for="" class="col-sm-3" style="padding-top:3px; ">Client Existant :</label>
                                  <div class="col-lg-9" style="padding-top:3px; ">
                                        <select class="form-control g-select" name="client_exist" id="client_exist">
                                            <option value="0">Selectionnez un client existant</option>
                                            {% for client in client_list %}
                                          <option value="{{ client.key.id() }}" {% if form_client.id.data|int == client.key.id() %} selected {% endif %}>{{ client.name }}</option>
                                            {% endfor %}
                                        </select>

                                  </div>
                              </div>
                         </div>
                         <hr/>
                            {{ form_client.hidden_tag() }}
                          <div class="form-group">
                            {{ form_client.name.label(class_='col-sm-3 control-label') }}
                            <div class="col-sm-9">
                            {% if form_client.id.data %}
                                {{ form_client.name(class_='form-control', disabled='disabled') }}
                            {% else %}
                                {{ form_client.name(class_='form-control') }}
                            {% endif %}
                            {% for message in form_client.name.errors %}
                                <div class="alert alert-danger form-validator">{{ message }}</div>
                            {% endfor %}
                            </div>
                          </div>
                          <div class="form-group">
                            {{ form_client.phone.label(class_='col-sm-3 control-label') }}
                            <div class="col-sm-9">
                            {% if form_client.id.data %}
                                {{ form_client.phone(class_='form-control', disabled='disabled') }}
                            {% else %}
                            {{ form_client.phone(class_='form-control') }}
                            {% endif %}
                            {% for message in form_client.phone.errors %}
                                <div class="alert alert-danger form-validator">{{ message }}</div>
                            {% endfor %}
                            </div>
                          </div>
                          <div class="form-group">
                            {{ form_client.email.label(class_='col-sm-3 control-label') }}
                            <div class="col-sm-9">
                            {% if form_client.id.data %}
                                {{ form_client.email(class_='form-control', disabled='disabled') }}
                            {% else %}
                            {{ form_client.email(class_='form-control') }}
                            {% endif %}
                            {% for message in form_client.email.errors %}
                                <div class="alert alert-danger form-validator">{{ message }}</div>
                            {% endfor %}
                            </div>
                          </div>

                        {% if not creation %}
                             <a class="btn btn-primary" href="#" id="reset">Creer un client</a>
                             <a class="btn btn-primary" href="#" id="update">Modifier le client</a>
                        {% endif %}
                        <br/>
                         <h2 class="text-center">Information evenement</h2><hr/>
                                  <div class="form-group">
                                <label class="col-sm-3 control-label">Evenement :</label>
                                <div class="col-sm-9">
                                    <select name="event" id="event" class="form-control g-selects">
                                        <option value="">{{ forme.event.label }}</option>
                                        {% for event in list_event %}
                                            <option value="{{ event.key.id() }}" {% if forme.event.data == event.key or forme.event.data|int == event.key.id() %} selected {% endif %} data-show="{% if event.at_date %}1{% else %}0{% endif %}">{{ event.name }}</option>
                                        {% endfor %}
                                    </select>
                                  {% for message in forme.event.errors %}
                                    <span class="help-block text-danger">{{ message }}</span>
                                  {% endfor %}
                                </div>

                              </div>
                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ forme.theme.label }}</label>
                                    <div class="col-sm-9">
                                      {{ forme.theme(class_='form-control', autocomplete='off') }}
                                      {% for message in forme.theme.errors %}
                                        <span class="help-block text-danger">{{ message }}</span>
                                      {% endfor %}

                                    </div>
                                  </div>
                                  <div id="show_date" {% if not theme %}style="display: none;" {% endif %}>
                                     <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ forme.concerne.label }}</label>
                                        <div class="col-sm-9">
                                          {{ forme.concerne(class_='form-control', autocomplete='off') }}
                                          {% for message in forme.concerne.errors %}
                                            <span class="help-block text-danger">{{ message }}</span>
                                          {% endfor %}

                                        </div>
                                      </div>
                                     <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ forme.date_anniv.label }} :</label>
                                        <div class="col-sm-9">
                                          {{ forme.date_anniv(class_='form-control', id='datepicker_anniv', autocomplete='off') }}
                                          {% for message in forme.date_anniv.errors %}
                                            <span class="help-block text-danger">{{ message }}</span>
                                          {% endfor %}

                                        </div>
                                      </div>
                                     <div class="form-group">
                                        <label class="col-sm-3 control-label">{{ forme.age.label }} :</label>
                                        <div class="col-sm-9">
                                          {{ forme.age(class_='form-control') }}
                                          {% for message in forme.age.errors %}
                                            <span class="help-block text-danger">{{ message }}</span>
                                          {% endfor %}

                                        </div>
                                      </div>

                                   </div>
                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ forme.date_livre.label }} :</label>
                                    <div class="col-sm-9">
                                      {{ forme.date_livre(class_='form-control', id='datepicker_livraison', autocomplete='off') }}
                                      {% for message in forme.date_livre.errors %}
                                        <span class="help-block text-danger">{{ message }}</span>
                                      {% endfor %}

                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ forme.heure_livre.label }} :</label>
                                    <div class="col-sm-9">
                                      {{ forme.heure_livre(class_='form-control', id='datetimepicker1', autocomplete='off') }}
                                      {% for message in forme.heure_livre.errors %}
                                        <span class="help-block text-danger">{{ message }}</span>
                                      {% endfor %}

                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ forme.info.label }} </label>
                                    <div class="col-sm-9">
                                      {{ forme.info(class_='form-control', rows="10", style="resize:none;") }}
                                      {% for message in forme.info.errors %}
                                        <span class="help-block text-danger">{{ message }}</span>
                                      {% endfor %}

                                    </div>
                                  </div>
                                  <input type="hidden" name="user" id="input_user"/>
                                  <hr/>
                                    <a class="btn btn-success pull-right" style="margin: 10px;" data-toggle="modal" data-target="#myModal" data-backdrop="static" href="{{ url_for('commande.check_pin') }}">Suivant </a>
                                    {% if id_commande %}
                                    <a href="{{ url_for('commande.facture', id_commande=id_commande) }}" class="btn btn-danger pull-right" style="margin: 10px;">Annuler</a>
                                    {% else %}
                                    <a href="{{ url_for('commande.annuler') }}" class="btn btn-danger pull-right" style="margin: 10px;">Annuler</a>
                                    {% endif %}

                    </form>
                </div>
            </div>

        </div>
</div>

{% endblock %}


{% block footer_script %}
<script>
    $('#client_exist').on('change', function(e){
            e.preventDefault();

            var client_exist = $('#client_exist').val();
            if(client_exist != '0'){
                var datas = {};
                datas['client'] = client_exist;
                var url = '{{ url_for('commande.find_customer') }}';
                 $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify(datas),
                    contentType: 'application/json;charset=UTF-8',
                    dataType: "json",
                    success: function(data) {
                        if(data['statut'] === 'OK'){
                            $('#id').val(data['id']);
                            $('#name').val(data['name']).attr('disabled', true);
                            $('#email').val(data['email']).attr('disabled', true);
                            $('#phone').val(data['phone']).attr('disabled', true);
                        }
                    }
                });

            }else{
                 $('#id').val('');
                $('#name').val('').removeAttr('disabled');
                $('#email').val('').removeAttr('disabled');
                $('#phone').val('').removeAttr('disabled');
            }
        });

    $("#reset").on("click", function (e) {
        e.preventDefault();
        $("#client_exist").val("0").trigger("change");
    });

    $("#update").on("click", function (e) {
        e.preventDefault();
        if ($('#id').val() != null) {

            $('#name').attr('disabled', false);
            $('#email').attr('disabled', false);
            $('#phone').attr('disabled', false);
        }
    });


    $('#event').on('change', function(e){
        e.preventDefault();
        if( $(':selected', this).data('show') == 1){
            $('#show_date').show();
            $('#exixt_at_date').val('1')
        }else{
            $('#show_date').hide();
            $('#exixt_at_date').val('0')
        }
    });

    $('#datepicker_livraison').datepicker({
        format: "dd/mm/yyyy",
        startDate: "-0d",
{#        endDate: "+90d",#}
        firstDay: 0,
        weekStart: 1,
        autoclose: true,
        orientation: "top auto",
        language: "fr"

    });

    $('#datepicker_anniv').datepicker({
        format: "dd/mm/yyyy",
{#        endDate: "+0d+0y",#}
        firstDay: 0,
        weekStart: 1,
        startView: 2,
        autoclose: true,
        orientation: "top auto",
        clearbtn: true,
        language: "fr"

    });


{#    window.onbeforeunload = function() {#}
{#      return "Data will be lost if you leave the page, are you sure?";#}
{#    };#}
</script>
{% endblock %}